# MySQL
DB_HOST=db
DB_PORT=3306
DB_ROOT_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SSL="false"

# Redis
CACHE_HOST=cache
CACHE_PORT=6379

# Directus
DIRECTUS_PORT="8055"
DIRECTUS_PUBLIC_URL="http://localhost:8055"
DIRECTUS_KEY=
DIRECTUS_SECRET=
