@import "tailwindcss";

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-normal-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-normal-600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-normal-700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-italic-500.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-italic-600.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "NYT Imperial";
  src: url("/fonts/nyt-imperial/imperial-italic-700.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inter-fallback";
  size-adjust: 107%;
  ascent-override: 91%;
  src: local(system-ui);
}

@theme {
  @keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slide-out {
      0% {
        opacity: 1;
        transform: translateX(0);
      }
      100% {
        opacity: 0;
        transform: translateX(-100%);
      }
    }

  --color-tvc-orange: #ff9538;
  --color-tvc-green: #0ab9aa;

  --font-serif: "NYT Imperial", "Georgia", ui-serif;

  --animate-slide-in: slide-in 0.5s ease forwards;
  --animate-slide-out: slide-out 0.5s ease forwards;
}

:root {
  font-family:
    "Inter",
    "Inter-fallback",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  font-variation-settings: "slnt" 0;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:has(dialog[open][modal-mode="mega"]) {
  overflow: hidden;
}

@media (max-width: 768px) {
  dialog[modal-mode="mega"] {
    margin-block-end: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
  }
}

.v {
  color: #1e40af;
  font-size: 0.64em;
  margin-right: 0.1em;
  mix-blend-mode: difference;
  vertical-align: super;
}
