name: Deploy Infrastructure

on:
  workflow_run:
    workflows: ["Playwright Tests"]
    branches: [main]
    types:
      - completed
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  AZURE_LOCATION: "southafricanorth"
  AZURE_RESOURCE_GROUP: "projectr-rg-southafricanorth"

jobs:
  deploy:
    # if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy Bicep
        uses: azure/arm-deploy@v2
        with:
          scope: "resourcegroup"
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP }}
          template: ./infra/main.bicep
          parameters: >-
            ./infra/parameters/main.bicepparam
            sqlDBUser=${{ secrets.MYSQL_DB_USER }}
            sqlDBUserPassword=${{ secrets.MYSQL_DB_PASSWORD }}
            meiliMasterKey=${{ secrets.MEILI_MASTER_KEY }}
            directusKey=${{ secrets.DIRECTUS_KEY }}
            directusSecret=${{ secrets.DIRECTUS_SECRET }}
            directusAdminEmail=${{ secrets.DIRECTUS_ADMIN_EMAIL }}
            directusAdminPassword=${{ secrets.DIRECTUS_ADMIN_PASSWORD }}
          additionalArguments: --verbose
